/* Wrapper */

.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  color: var(--text-color);
}

/* Aside */

aside {
  padding: 1rem;
  position: sticky;
  height: 80vh;
  top: 2rem;
  overflow-y: auto;
}

aside a {
  display: inline-block;
  width: 100%;
  border-radius: var(--border-radius);
}

aside a.active {
  color: var(--primary-color);
  font-weight: bold;
}

aside a:hover {
  background-color: var(--primary-disabled);
}

aside h3,
aside a {
  margin: 0.5rem;
  padding: 0.5rem;
}

/* Main */

main {
  padding: 1rem;
}

main .container {
  margin: 0 1rem;
}

main h1 {
  font-size: 2rem;
}

main hr {
  margin: 1rem 0;
}

.comp-intro {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.subtitle {
  font-size: 1.6rem;
  padding: 1rem 0;
}

.subtitle-detail {
  color: var(--text-secondary);
}

.comp-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--bg-secondary);
  border-radius: var(--border-radius);
  padding: 1rem;
  margin: 1rem 0;
}

.comp-demo > * {
  margin: 0.5rem 1rem;
}

.comp-code iframe {
  margin: 2rem 0;
  border-radius: var(--border-radius);
}

/* Main footer */

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.previous-comp i {
  margin-right: 1rem;
}

.next-comp i {
  margin-left: 1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}

@media screen and (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  aside {
    display: none;
    padding-top: 0;
  }

  .hide-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--bg-color);
  }

  .rotate-hamburger {
    transform: rotate(90deg);
    transition: all 1s ease;
  }

  .hide-main {
    display: none;
  }
}
