/* Grid */

.grid {
  display: grid;
  margin: 0;
  width: 100%;
  background-color: var(--bg-color);
}

.grid .grid-item {
  padding: 0.5rem;
}

/* 2 column grid */

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

/* 3 column grid */

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

/* 4 column grid */

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .grid-two-col,
  .grid-three-col,
  .grid-four-col {
    grid-template-columns: 1fr;
  }
}
