.alert {
  width: 100%;
  background-color: var(--white);
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.alert-primary {
  background-color: var(--primary-color);
}

.alert-success {
  background-color: var(--success-color);
}

.alert-warning {
  background-color: var(--warning-color);
}

.alert-danger {
  background-color: var(--danger-color);
}

.alert-dark {
  background-color: var(--text-color);
  color: var(--white);
}

/* Outlined alerts */

.primary-outline {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.success-outline {
  color: var(--success-color);
  border: 2px solid var(--success-color);
}

.warning-outline {
  color: var(--warning-color);
  border: 2px solid var(--warning-color);
}

.danger-outline {
  color: var(--danger-color);
  border: 2px solid var(--danger-color);
}

.dark-outline {
  color: var(--text-color);
  border: 2px solid var(--text-color);
}
